{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col text-left">
            Some text about Marika
        </div>
    </div>
    <div class="row mt-3">
        <div class="col font-weight-bold text-center">

            <h4>
                <a href="{% url 'macrames' %}" class="shop-now-button btn btn-lg rounded py-3">Shop Now</a>
            </h4>

        </div>
    </div>
</div>

<!-- <div class="container text-center">
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE-vFzH2G0&#x2F;watch?utm_content=DAE-vFzH2G0&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener" class="rounded p-2">Welcome</a>

    <div class="mx-auto text-center" style="width: 60%; height: 0; padding-top: 40.0000%;
padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.1em; margin-bottom: 0.9em; overflow: hidden;
border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE-vFzH2G0&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
    </div>
</div> -->
<div class="row">
    <div class="mx-auto my-2">
        <img src="/media/logo-anim.gif" class="rounded">

    </div>

</div>

{% endblock %}